<div class="jumbotron">
    <h1 class="display-3">All About dat Crunch</h1>
    <p class="lead">We got some stuff here and also some things ion know my dad showed up so thats cool i guess anyways
        heres wonderwall</p>
        
    <a href="/" class="btn btn-dark btn-lg">Get Started</a>
    <p class="blockquote-footer">Version 0.0.1</p>
</div>